.form{
    margin-left: 350px;
}

.logo{
    display: flex;
    color: rgb(241, 238, 238);
    padding: 0 20px;
    text-decoration: none;
    line-height: 50px;
}
nav{
    width: 100%;
    height: 50px;
    background: rgba(10, 2, 2, 0.897);
    position: sticky;
    top: 0;
}

nav ul{
    display: flex;
    margin: 0;
    padding: 0 100px;
    float: right;
    margin-right: 70px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    color: rgb(241, 238, 238);
    padding: 0 20px;
    text-decoration: none;
    line-height: 50px;
    font-style: italic;
}

.main-content{
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: 0;
    background-image: url(../../../assets/OIPO.jpg);
    
}

.intro{
    width: 100%;
    height: 270px;
    background: rgba(199, 197, 197, 0.418);
}

.intro pre{
    float: right;
    margin-top: 60px;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 270px;

}

.intro img{
    width: 270px; 
    height: 200px; 
    float: left; 
    margin-left: 270px;
    margin-top: 40px;
}

.intro button{
    background-color: rgb(46, 44, 44);
    height: 50px;
    width: 170px;
    position: absolute;
    color: aliceblue;
    border-radius: 30px;
    margin-top: 160px;
    margin-left: 750px;
}

.intro button:hover{
    background-color: gray ;
}

.food{
    margin-left: 230px;
    margin-top: 30px;
}
.food pre{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
    margin-left: 350px;
}

.food img{
    margin-top: 20px;
    width: 200px;
    height: 200px;
    margin-right: 37px;
}

.food h1{
    font-size: 18px;
    margin-top: 5px;
}

.Reserve-section{
   
    height: 700px;
    margin-top: 50px;
}

.form{
    margin-left: 430px;
}

.contact{
    background-image: url(../../../assets/cover.jpg) ;
    height: 300px;
    background-size: cover;
    background-position: 53%;
    background-repeat: no-repeat;
}

.contact h1{
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-style: italic;
    margin-top: 20px;
    position: absolute;
    margin-left: 580px;
}

.contact h2{
    color: aliceblue;
    position: absolute;
    font-weight: lighter;
    margin-top: 65px;
    margin-left: 230px;
}

.globe{
    position: absolute;
    margin-top: 100px ;
    margin-left: 550px;

}

.web{
    color: aliceblue;
    position: absolute;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 600px;
}

.envelop{
    position: absolute;
    margin-top: 170px ;
    margin-left: 520px;

}

.email{
    color: aliceblue;
    position: absolute;
    font-size: 20px;
    margin-top: 170px;
    margin-left: 570px;
}

.phone{
    position: absolute;
    margin-top: 245px ;
    margin-left: 510px;
}

.number{
    color: aliceblue;
    position: absolute;
    font-size: 20px;
    margin-top: 240px;
    margin-left: 560px;
}

.about{
    background-color: rgba(233, 232, 232, 0.952);
    height: 230px;
}

.about h1{
    color: rgb(35, 35, 36);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-style: italic;
    margin-top: 25px;
    position: absolute;
    margin-left: 600px;
}

.about pre{
    position: absolute;
    font-size: 18px;
    font-style: italic;
    margin-top: 90px;
    margin-left: 300px;
}

.copyright{
    height: 35px;
    background-color: rgba(31, 30, 30, 0.952);
}



